<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="HotspotXpiPath" value="C:\Users\danza\source\repos\YTViewer\YTViewer\XPIs\hotspot_shield_free_vpn_proxy_unblock_sites-4.0.0-fx.xpi" />
    <add key="GeckoDriverDirectory" value="C:\Users\danza\source\repos\YTViewer\YTViewer"/>
    <add key="FirefoxBinaryDirectory" value="C:\Program Files\Firefox Developer Edition\firefox.exe"/>
  </appSettings>
</configuration>